PORT=3000
NODE_ENV=development
DATABASE_URL=mysql://root:peeyush@localhost:3306/moviedb

JWT_SECRET= secret_peeyush
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=refresh_peeyush_secret
JWT_REFRESH_EXPIRES_IN=7d